html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.line {
  stroke: #0ff;
  stroke-width: 1.5px;
  stroke-linecap: square;
}
.handle {
  fill: none;
  pointer-events: all;
  stroke: #fff;
  stroke-width: 2px;
  cursor: move;
}
#buttons {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
button {
  display: block;
  width: 10em;
}
button:focus {
  outline: none;
}
